<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 对于 Android 10+ 需要媒体位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 对于 Android 9 及以下版本需要存储权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- 对于 Android 13+ 需要媒体权限 -->
    <uses-permission-sdk-23 android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 声明媒体文件访问特性 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        android:name=".app.App"
        android:theme="@style/Theme.SwipePhotoManager"
        tools:targetApi="31">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.startup"
            android:exported="false"
            tools:replace="android:authorities">
            <meta-data
                android:name="com.gallery.sweeper.photo.cleaner.app.AppInitializer"
                android:value="androidx.startup" />
        </provider>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gallery.sweeper.photo.cleaner.ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gallery.sweeper.photo.cleaner.ui.WebActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gallery.sweeper.photo.cleaner.ui.SwipeTrashActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>